<mat-card class="sidebar">
  <mat-action-list>
    <div style="font-size: 1.5rem; font-weight: 300" class="mb20 mt10 ml20">
      MENU
    </div>
    <button routerLink="/admin/users" mat-list-item>
      <mat-icon mat-list-icon>account_circle</mat-icon>
      Users
    </button>
    <button routerLink="/admin/purchase-reports" mat-list-item>
      <mat-icon mat-list-icon>money</mat-icon>
      Purchase Reports
    </button>
    <button routerLink="/admin/categories" mat-list-item>
      <mat-icon mat-list-icon>list</mat-icon>
      Categories
    </button>
    <button routerLink="/admin/add-category" mat-list-item>
      <mat-icon mat-list-icon>add_circle_outline</mat-icon>
      Add Category
    </button>
    <button routerLink="/admin/products" mat-list-item>
      <mat-icon mat-list-icon>inventory2</mat-icon>
      products
    </button>
    <button routerLink="/admin/add-product" mat-list-item>
      <mat-icon mat-list-icon>add_circle_outline</mat-icon>
      Add Product
    </button>
  </mat-action-list>
</mat-card>
